.vs/
bin/
obj/
*.csproj.user
*.sln.DotSettings.user
Thumbs.db

ProceduralVoxelMeshTester/*.csproj
ProceduralVoxelMeshTester/Library/
ProceduralVoxelMeshTester/Assets/Plugins/
ProceduralVoxelMeshTester/*.sln
ProceduralVoxelMeshTester/ProjectSettings/
ProceduralVoxelMeshTester/Assets/Resources/*.*
ProceduralVoxelMeshTester/Build/
ProceduralVoxelMeshTester/Temp/

ProceduralVoxelMeshTester/Build/Tester_Data/Managed/ProceduralVoxelMesh.dll

