.vs/
bin/
obj/
*.csproj.user
Thumbs.db

ProceduralVoxelMeshTester/*.csproj
ProceduralVoxelMeshTester/Build/
ProceduralVoxelMeshTester/Library/
ProceduralVoxelMeshTester/*.sln
ProceduralVoxelMeshTester/ProjectSettings/
